
.logo--mob {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 13px;
}

.container--mob {
    position: relative;
    display: flex;
    align-items: center;
    
    @include tablet {
        display: none;
    }
}

.open-menu-btn {
right: 10px;
width: 40px;
height: 40px;

background-color: inherit;
border: none;
color: black;

&:focus,
&:hover {
    color: var(--accent-colot);
}
}

.icon-menu {
    fill: currentColor;
}

.mob-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: var(--white-color);
    display: flex;
    flex-wrap: wrap;

    width: 100vw;
    height: 100vw;
    padding: 40px;
}
.close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;

    background-color: inherit;
    border: none;
    color: black;

    &:focus,
    &:hover {
        color: var(--accent-colot);
    }
}

.icon-menu-close {
    fill: currentColor;
}

.mob-nav__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--link-text-color);

    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mob-nav__link {
    color: currentColor;
}

.link--current-mob {
    color: var(--accent-colot);
}

.list--contact {
    margin-bottom: 64px;
}

.mob-tel {
    margin-bottom: 32px;

    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--accent-colot);
}

.mob-email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: var(--link-text-color);
}

.mob-contact__link {
    color: currentColor;
}

.list--soc {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;

    @include mobile {
        gap: 0px;
    }
}

.mob-contact__item--soc {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-colot);
    
    @include mobile {

        &:not(:last-child)::after {
                content: "";
                margin-left: 10px;
                margin-right: 10px;
                width: 22px;
                border: 1px solid rgba(33, 33, 33, 0.2);
                transform: rotate(90deg);
            }
        }

}