.section--worker {
    background-color: #f5f4fa;
}

.list-worker {
margin-bottom: -30px;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
        gap: 30px;
    }
}

.list-worker__item {
    background-color: var(--white-color);
    display: block;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @include tablet {
            margin-bottom: 0px;
        }


}

.list-worker__photo {
    width: 100%;
        @include mobile {
        width: 450px;
        }

        @include tablet {
        width: 354px;
        }

        @include desctop {
        width: 270px;
        }
}

.list-worker__box {
    padding: 30px 32px;
    width: 100%;
}

.list-worker__name {
    margin-bottom: 10px;
    color: var(--link-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.list-worker__speciality {
    color: var(--contact-link-text-color);
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.list-worker-soc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-worker-soc__item:not(:last-child) {
    margin-right: 10px;
}

.list-worker-soc__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: #afb1b8;
    background-color: var(--white-color);
    transition-property: color, backgraund-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus {
            background-color: var(--accent-colot);
            color: var(--white-color);
        }
}

.list-worker-soc__icon {
    width: 44px;
    height: 44px;
    fill: currentColor;
}

