html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--white-color);
    color: var(--contact-link-text-color);

    font-family: var(--fonts);
    letter-spacing: 0.03em;
}