:root {
    --promary-text-color: #000000;
    --link-text-color: #212121;
    --contact-link-text-color: #757575;
    --title-text-color: #000000;
    --accent-colot: #2196f3;
    --white-color: #ffffff;
    --button-filter: #f5f4fa;
    --second-bgc: #2f303a;

    --fonts: Roboto, sans-serif;
    --fonts-second: Raleway, sans-serif;
}